<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <style type="text/css">
        .img-jmbo
        {
        background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('electricity.jpg');
        background-size : 125%,125% ;
        }
       
    </style>
    <title>MAJOR</title>
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand" href="Fault.html">FAULT SEARCH</a>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="index1.html">Home</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  More
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="/About">About us</a></li>
                  <li><a class="dropdown-item" href="/fault">Check Faults</a></li>
                  <li><a class="dropdown-item" href="https://demo.thingsboard.io/dashboard/e8e409c0-f2b5-11e6-a6ee-bb0136cc33d0?publicId=963ab470-34c9-11e7-a7ce-bb0136cc33d0&source=realtimeIotDashboards">live monitoring</a></li>
                 
                </ul>
              </li>
              
            </ul>
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
      

          <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <ol class="carousel-indicators">
          <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"></li>
          <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"></li>
          <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="static/im1.jpeg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h1>FAULT SEARCH</h1>
              <p>classify faults easier</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="static/electricity.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h1>FAULT SEARCH</h1>
              <p>this web app classifies faults and allows the remote monitoring and controlling of the substation</p>
            </div>
          </div>
         
        

        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </a>
      </div>
      </div>
      <hr class="featurette-divider">
      <h1 class="text-center">Power system</h1>
      <div class="container">
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">POWER SYSTEM </h2>
          <p class="lead">An electric power system is a network of electrical components deployed to supply, transfer, and use electric power. An example of a power system is the electrical grid that provides power to homes and industry within an extended area. The electrical grid can be broadly divided into the generators that supply the power, the transmission system that carries the power from the generating centres to the load centres, and the distribution system that feeds the power to nearby homes and industries. Smaller power systems are also found in industry, hospitals, commercial buildings and homes. The majority of these systems rely upon three-phase AC power—the standard for large-scale power transmission and distribution across the modern world. Specialised power systems that do not always rely upon three-phase AC power are found in aircraft, electric rail systems, ocean liners, submarines and automobiles.</p>
        </div>
        <div class="col-md-5">
          <img src="static/use2.jpg" height="500px" width="500px">
        </div>
      </div>
    </div>
    <div class="container">
    <hr class="featurette-divider">
    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Power system Faults</h2>
        <p class="lead">In an electric power system, a fault or fault current is any abnormal electric current. For example, a short circuit is a fault in which current bypasses the normal load. An open-circuit fault occurs if a circuit is interrupted by some failure. In three-phase systems, a fault may involve one or more phases and ground, or may occur only between phases. In a "ground fault" or "earth fault", current flows into the earth. The prospective short-circuit current of a predictable fault can be calculated for most situations. In power systems, protective devices can detect fault conditions and operate circuit breakers and other devices to limit the loss of service due to a failure.

          In a polyphase system, a fault may affect all phases equally which is a "symmetric fault". If only some phases are affected, the resulting "asymmetric fault" becomes more complicated to analyse. The analysis of these types of faults is often simplified by using methods such as symmetrical components.</p>
          <a class="btn btn-primary btn-lg" href="/fault" role="button">Learn more</a>
        </div>
      <div class="col-md-5 order-md-1">
        <img src="static/us3.png" height="500px" width="400px">
       
      </div>
    </div>
  </div>
    <hr class="featurette-divider">

     
        </div>
        <hr class="featurette-divider">
        <hr class="featurette-divider">
        <div class="container">
        <h1 class="text-center">ABOUT US</h1>
        <div class="container">
        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">ABOUT US</h2>
            <p class="lead">Fault search is a project carried at "SIDDAGANGA INSTITUTE OF TECHNOLOGY" guided by Dr.Sridhar H.S 
              carried by fourth year students of "Electrical and Elecronics Engineering"
            </p>

          </div>
          <div class="col-md-5">
            <img src="static/sit1.png" height="500px" width="500px">
          </div>
        </div>
      </div>
      </div>
    <h1 class="text-center">GUIDE</h1>
    <br>
    <br>



<div class="row text-center">

<div class="col-lg-12">
        <img src="static/guide.jpeg" width="160" height="160"  class="bd-placeholder-img rounded-circle">
        <h5>Dr shridahr H.S</h5>
    <p>Assistant Professor </p>
    <p>Depratmnt of Electrical and Electronics</p>
</div>
</div>
    <h1 class="text-center">THE  TEAM</h1>
    <br>
    <br>
    <div class="container marketing">

    <!-- Three columns of text below the carousel -->
      <div class="container">
    <div class="row">
      <
        <div class="col-lg-3">
        <img src="static/manojna.jpeg" width="160" height="160" class="bd-placeholder-img rounded-circle">
        <h5>MANOJNA RAO</h5>
  <br>

      </div><!-- /.col-lg-4 -->
      <div class="col-lg-3">
        <img src="static/amrit.jpeg" width="160" height="160" class="bd-placeholder-img rounded-circle">
        <h5>PRATYAT AMRIT</h5>
        <br>


      </div><!-- /.col-lg-4 -->

      <div class="col-lg-3">
        <img src="static/anand.jpeg" width="160" height="160" class="bd-placeholder-img rounded-circle">

        <h5>ANAND KUMAR</h5>
  <br>

      </div><!-- /.col-lg-4 -->
      <div class="col-lg-2">


        <img src="static/nikhil2.jpeg" width="160" height="160" class="bd-placeholder-img rounded-circle">
        <h5>NIKHIL</h5>
        <br>

      </div><!-- /.col-lg-4 -->

    </div><!-- /.row -->

</div>
      <br>
      <h1 class="text-center">FEATURES</h1>
    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading"> Remote monitoring </h2>
        <p class="lead">Remote monitoring of the substation.The actual live feed of the substation can be seen through this as of now we use the hosts webcam</p>
       <a class="btn btn-primary btn-lg" href="/cam" role="button">click</a>
      </div>
      <div class="col-md-5">
       <img src="static/REMOTE.jpg" width="500" height="500">
      </div>
    </div>



    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Fault classification using machine learning  </h2>
        <p class="lead">By entering the value of voltages and currents at the time of the fault it classifies the fault type</p>
       <a class="btn btn-primary btn-lg" href="/fault" role="button">click</a>
      </div>
      <div class="col-md-5 order-md-1">
       <img src="static/ann.jpg" width="400" height="500">

      </div>
    </div>

 <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading"> live monitoring </h2>
        <p class="lead">As of now it is just a concept it can be added in future implementation</p>
       <a class="btn btn-primary btn-lg" href="https://demo.thingsboard.io/dashboard/e8e409c0-f2b5-11e6-a6ee-bb0136cc33d0?publicId=963ab470-34c9-11e7-a7ce-bb0136cc33d0&source=realtimeIotDashboards" role="button">click</a>
      </div>
      <div class="col-md-5">
       <img src="static/max_t.jpg" width="500" height="500">
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div>

      <footer class="text-muted">
        <div class="container">
          <p class="float-right">
            <a href="/fault">To check faults</a>
          </p>
          <p>To know more about Fault Search</p>
          <p> <a href="/">Back to top</a> </p>
        </div>
      </footer>

      

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
    -->
  </body>
</html>